<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<title>Ανοιχτές τεχνολογίες στην Τριτοβάθμια Εκπαίδευση</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<style media="screen" type="text/css">
label.required::before {
  content: '*';
  margin-right: 4px;
  color: red;
}
</style>

<link href="/img/favicon.ico" rel="icon">
</head>
<body class="">







<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
<span class="sr-only">Toggle navigation</span>
<i class="fa fa-navicon"></i>
</button>
<a class="navbar-brand" href="/">edu-quest</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li class="hidden" role="presentation">
<a title="Αρχική" href="/">
<span class="">Αρχική</span>
</a>
</li>
<li class="" role="presentation">
<a id="opendata" title="Ανοικτά δεδομένα"  href="/open-data">
<span class="">Ανοικτά δεδομένα</span>
</a>
</li>
<!--
<li class="" role="presentation">
<a title="Σχετικά με τη δράση" href="/about">
<span class="">Σχετικά με τη δράση</span>
</a>

</li>
-->
</ul>
<ul class="nav navbar-nav navbar-right">
</ul>
</div>
</div>
</nav>
<div class="container">
<div id="content">
<style>
.tmimaerg1color {
    background: #efefef;
    display: block;
}
        input[type=text] {
            width: 100%;
        }

</style>
<div id="app-form">
<h1> </h1>
<form role="form" id="tableresponsive1" class="form-horizontal" data-messages="[]" data-is-valid="1"  action="" method="post">
<div class="form-group">
<br>
<h1>Ερωτηματολόγιο για το ανοιχτό λογισμικό</h1>
<p>
<b>Xρησιμοποιείτε ή δημιουργείτε ανοιχτό λογισμικό ή/και ανοιχτό περιεχόμενο στο Ίδρυμα σας; </b>
<br>
Ο<a href="https://eellak.ellak.gr/"> <b>Οργανισμός Ανοιχτών Τεχνολογιών (ΕΕΛΛΑΚ)</b></a>, στο πλαίσιο της διαμόρφωσης προτάσεων για την ψηφιακή αναβάθμιση της τριτοβάθμιας εκπαίδευσης και την διάχυση και υποστήριξη των ανοιχτών τεχνολογιών στην εκπαιδευτική διαδικασία, καλεί μέλη της ακαδημαϊκής-ερευνητικής κοινότητας και φοιτητές, που <b>χρησιμοποιούν  ή και δημιουργούν ανοιχτό λογισμικό/ανοιχτές τεχνολογίες ή ανοιχτό περιεχόμενο στο ίδρυμα τους, να συμπληρώσουν το  παρακάτω ερωτηματολόγιο</b>.
<br>
Στόχος του ερωτηματολογίου είναι να καταγραφούν όλα τα έργα ανοιχτού λογισμικού, ανοιχτών τεχνολογιών και περιεχομένου που δημιουργούνται ή χρησιμοποιούνται στην τριτοβάθμια εκπαίδευση, για να δημιουργηθεί ένα μητρώο ανοιχτότητας που θα λειτουργήσει ως πλατφόρμα συνεργασίας και δημοσιότητας έργων και καλών πρακτικών στην τριτοβάθμια εκπαίδευση.
</p>


</div>
<div id="tableresponsive" class="table-responsive">
<fieldset>

<div class="form-group">
<label class="control-label hidden-xs hidden-sm col-md-3 required" for="el-onoma">Ονομα</label>
<div class="col-xs-12 col-sm-12 col-md-9">
<input id="el-onoma" class="form-control input-sm" type="text" required value="" name="onoma" placeholder="Ονομα">
</div>
</div>
<div class="form-group">
<label class="control-label hidden-xs hidden-sm col-md-3 required" for="el-eponimo">Επώνυμο</label>
<div class="col-xs-12 col-sm-12 col-md-9">
<input id="el-epitheto" class="form-control input-sm" type="text" required value="" name="epitheto" placeholder="Επώνυμο">
</div>
</div>
<div class="form-group">
<label class="control-label hidden-xs hidden-sm col-md-3 required" for="el-email">Email</label>
<div class="col-xs-12 col-sm-12 col-md-9">
<input id="el-email" class="form-control input-sm" type="text" required value="" name="email" placeholder="Email">
</div>
</div>




<div id="items-list">
<div class="form-group">
<label class="control-label col-md-3 required" for="newselect">Επιλέξτε την ιδιότητά σας</label>
<div class="col-xs-12 col-sm-12 col-md-9">
<select id="newselect" class="form-control" required name="eidikotita">
<option id="space" selected="" value=""></option>
<option id="idrimata" value="didaktiko">Διδακτικό Ερευνητικό Προσωπικό</option>
<option id="idrimata1" value="ergastiriako">Εργαστηριακό Προσωπικό -Βοηθοί και Επιστημονικοί Συνεργάτες</option>
<option id="idrimata2" value="dioikitiko">Διοικητικό Προσωπικό</option>
<option id="idrimata3" value="fititis">Φοιτητής/τρια</option>
<option id="idrimata4" value="meta">Μεταπτυχιακός φοιτητής</option>
</select>
	<div id="tmimaerg" class="col-xs-12 col-sm-12 col-md-9">
	</div>
	<div id="tmimaerg1" class="col-xs-12 col-sm-12 col-md-12 tmimaerg1color">
	</div>
</div>
</div>

<div id="first" style="display: block;">
<div class="form-group ">
<label class="control-label hidden-xs hidden-sm col-md-3 required" for="el-idrima">Ίδρυμα</label>
<div class="col-xs-12 col-sm-12 col-md-9">
<select id="el-idrima" class="form-control input-sm" required data-placeholder="Ίδρυμα" name="idrima">
<option selected="" disabled="" value="">Ίδρυμα</option>
</select>
</div>
</div>
<div class="form-group ">
<label class="control-label hidden-xs hidden-sm col-md-3 required" for="el-sxolh">Τμήμα</label>
<div class="col-xs-12 col-sm-12 col-md-9">
<select id="el-sxolh" class="form-control input-sm" required data-placeholder="Τμήμα" name="sxolh">
<option selected="" disabled="" value="">Τμήμα</option>
<option value="1"></option>
</select>
</div>
</div>
<div id="eltmhmalession" class="form-group">
</div>


<div id="eltmhmalessionadd" class="form-group text-center">
</div>
<br>
<div id="eltmhmalessionadd1" class="form-group text-center">
   <div id="captchaada" class="form-group text-center">
	<div class="col-xs-12 col-sm-12 col-md-0 text-center">
		<img src="/view/captcha/captcha.php" alt="" id="captcha" />
		<img src="/view/captcha/refresh.jpg" width="25" alt="" id="refresh" />
	</div>
		<br>
	<div class="col-lg-4 col-lg-offset-4">
		<input name="code" class="form-control input-sm" type="text" id="code" placeholder="Καταχωρείστε τους χαρακτήρες όπως αναγράφονται παραπάνω">
	</div>
   </div>
	<button id="submit" class="btn btn-lg btn-primary" type="submit" name="submit">Υποβολή</button>
	<label class="error" id="after_submit"></label>
</div>
</fieldset>
</div>
</form>
</div>
</div>
<div id="console" class="form-group text-center">
</div>
<footer id="footer" class="footer">
<p>
Το
<a href="https://edu-quest.ellak.gr">edu-quest.ellak.gr</a>
είναι μια δράση του<a href="https://eellak.ellak.gr"> Οργανισμού Ανοιχτών Τεχνολογιών - ΕΕΛΛΑΚ</a> η οποία έχει αναπτυχθεί με την χρήση <a href="https://mathe.ellak.gr">ανοιχτού λογισμικού</a>.
<br>
Το περιεχόμενο διατίθεται με άδεια
<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">Creative Commons Αναφορά Δημιουργού - Παρόμοια Διανομή</a>
και το λογισμικό με άδεια
<a href="https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11" target="_blank" rel="noopener noreferrer">EUPL</a>.
<br>
Ο πηγαίος κώδικας της εφαρμογής είναι διαθέσιμος στο <a href="https://github.com/eellak/openedu">GitHub</a>.
</p>
<p>
Τα δεδομένα του ερωτηματολογίου παρέχονται ανοιχτά υπό τη μορφή αρχείου csv στα εγγεγραμμένα μέλη του <i>*.ellak.gr</i>.
</p>
</footer>
</div>


<script src="jquery-3.2.1.min.js">
</script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="indexconfig.js">
</script>
<script src="index-1.1.js">
</script>













</body>
</html>
